/* COOLERS.CO THEME: https://coolors.co/palette/00296b-003f88-00509d-fdc500-ffd500 */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
h1 {
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:64px
}

html {
  position: relative;
  min-height: 100%;
}

body {
    text-align: center;
    margin-bottom: 60px;
}

.thumbnail {
    width: 128px;
    height: 128px;
}


.btn-primary {
    background-color: #FFD500;
    color: black;
    border-style: none;
}

.btn-primary:hover {
    background-color: #f58e10;
    border-style: none;
}

.btn-secondary {
    background-color: #00296B;
}

.btn-secondary:hover {
    background-color: #00509D; 
}
.card {
    width: auto;
    height: 100%;
    max-width: 22rem;
    border-style: none;
    border-radius: 1rem;
    background-color: #00296B;
    color: white;
}

.card-header {
    border-style: none;
    font-family: "Edu SA Beginner", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
}

.card-body {
    background-color: #00509D;
    color: white;
    border-radius: 2rem;
    margin: 6px;
}

.card-img-top {
    align-self: center;
    border-radius: 2rem;
    background-color: rgb(242, 242, 242);
    max-width: 20rem;
    height: 30rem;
}




.navbar {
    font-family: "Edu SA Beginner", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
}
